.header__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  stroke-width: 0;
  stroke: currentColor;
  fill: #fff;
  transition: all 250ms;
  cursor: pointer;

  &:hover {
    fill: yellow;
  }
}

.header__menu {
  display: flex;
  column-gap: 200px;
}

.menu__link {
  position: relative;
  color: #fff;
  transition: all 250ms;

  &:hover {
    color: yellow;
  }

}


.logo {
  width: 80px;
}

.menu__list {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    align-items: center;
    column-gap: 100px;
  }
}

.menu__btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
}

// ------mob-menu---------------------------------------

.mob-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 0);
  padding: 50px;

  border-radius: 0 0 20px 0;
  box-shadow: 1px 1px 5px rgba(255, 123, 0, 0.714);
  transition: transform 300ms;

  transform: translateX(-110%);
}

.is-visible {
  transform: translateX(0%);
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-weight: 700;
}

.mob-menu__link {
  color: #000000;
}